VITE_API_URL=http://localhost:3000
VITE_COGNITO_USER_POOL_ID=us-east-2_XXXXXXXXX
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_COGNITO_REGION=us-east-2
VITE_S3_BUCKET=tienda-productos-images
VITE_S3_REGION=us-east-2
VITE_CLOUDFRONT_URL=https://d1234567890.cloudfront.net
